---
layout: default
section: home
title: "Bill Howe: Academic Homepage"
---

<div class="row">
  <div class="col-sm-3">
    <img src="images/billhowe.png" class="img" width="180px"
    style="margin-top: 30px; margin-bottom: 10px">
  </div>
  <div class="col-sm-9">
    <h1>Bill Howe</h1>
    <p>
      Associate Professor, Information School<br>
      Adjunct Associate Professor, Computer Science &amp; Engineering<br>
      Adjunct Associate Professor, Electrical Engineering<br>
      Program Director and Faculty Chair, UW Data Science Masters Degree<br>
      Director, Urbanalytics Lab<br>
      Founding Associate Director and Senior Data Science Fellow, UW eScience Institute<br>
      University of Washington<br>
      <a href="bio.html">Short Bio</a> |
      <a href="cv/billhowe_cv.pdf">Curriculum Vitae</a> | 
      <a href="cv/nsf_biosketch/biosketch.pdf">NSF-style biosketch</a> |
      <a href="cv/bill_howe_nih_biosketch.docx">NIH-style biosketch</a> 
      <br>
      billhowe at uw.edu | Office: MGH 310 in the <a href="https://datalab.ischool.uw.edu/">iSchool DataLab</a>
      <br>
      <br>
    </p>
  </div>
</div>


<p>
I am an Associate Professor in the Information School, Adjunct Associate Professor in Computer Science &amp; Engineering, and Associate Director and Senior Data Science Fellow at the <a href="http://escience.washington.edu">UW eScience Institute</a>.  I am a co-founder of <a href="http://urban.uw.edu/">Urban@UW</a>, and with support from the MacArthur Foundation and Microsoft, I lead UW's participation in the <a href="http://metrolab.uw.edu">MetroLab Network</a>. I created a <a href="https://www.coursera.org/course/datasci">first MOOC on Data Science</a> through Coursera, and I led the creation of the <a href="http://datasciencemasters.uw.edu/">UW Data Science Masters Degree</a>, where I serve as its first Program Director and Faculty Chair. I serve on the Steering Committee of the Center for Statistics in the Social Sciences.
</p>
<p>
My group's research aims to make the techniques and technologies of data science dramatically more accessible, particularly at scale.  Our methods are rooted in database models and languages, though we sometimes work in machine learning, visualization, HCI, and high-performance computing.  We are an applied, systems-oriented group, frequently sourcing projects through collaborations in the physical, life, and social sciences.  
</p>

<hr>

<h2>News</h2>
<div class="news">
<ul>
<li>July 26, 2018: I'm giving an invited talk at NSF on our work on algorithmic curation of science data repositories.
<li>July 21, 2018: <strong style="color:red;">Best paper award</strong> Our paper on <a href="https://www.domoritz.de/papers/2018-Draco-InfoVis.pdf">DRACO</a> using answer set programming to model visualization recommendation rules won best paper at InfoVis 2018!  Congratulations to Dominik and the whole team!</li>
<li>July 18, 2018: I presented our paper on <a href="https://arxiv.org/pdf/1709.08600.pdf">EZLearn</a> at IJCAI 2018 in Stockholm. EZLearn combines distant supervision and co-learning to avoid the need for training data in applications that have access to noisy free-text descriptions of data, especially in science.</li>
<li>July 10, 2018: Congratulation to Kanit (Ham) Wongsuphasawat for defending his thesis on visualization recommendation systems! Ham is joining Apple as a Research Scientist.</li>
<li>July 2, 2018:  New <a href="pdfs/rodriguezmobilitybidu2018vldb.pdf">workshop paper on removing bias from transportation data</a> at <a href="https://sites.google.com/view/bidu2018/">BiDU - Workshop on Big Social Data and Urban Computing</a> co-located with VLDB 2018</li>
<li>June 21, 2018: I represented our BIGDATA grant on <a href="https://www.nsf.gov/awardsearch/showAward?AWD_ID=1740996">Foundations of Responsible Data Science</a> and the West Big Data Hub at the combined BIGDATA PI meeting and Big Data Hubs meeting at NSF this week.</li>
<li>June 14, 2018: New workshop paper accepted at <a href="http://wikicfp.com/cfp/servlet/event.showcfp?eventid=74902&copyownerid=83849">DSDAH 2018</a>, co-located with KDD, on <a href="">Classifying Digitized Art by Type and Time Period</a>
<li>June 14, 2018: Great discussion at our <a href="https://sigmod2018.org/sigmod_special_session.shtml">session on Responsible Data Science at SIGMOD 2018</a> in Houston</li>
<li>June 11, 2018: New workshop paper accepted at <a href="http://thealphalab.org/bigscholar/2018/">BigScholar 2018</a>, co-located with KDD, on <a href="">Central Figure Identification</a> for scientific papers.
<li>May 3, 2018: New blog post on <a href="https://freedom-to-tinker.com/2018/05/03/refining-the-concept-of-a-nutritional-label-for-data-and-models/">nutritional labels for datasets and models</a> is up at Freedom to Tinker.  This post expands on our SIGMOD 2018 demo on <a href="https://arxiv.org/abs/1804.07890">Nutritional Labels for Rankings</a> at SIGMOD 2018</li>
<li>April, 2018: Congratulations to Maxim Grechkin for defending his thesis on algorithmic curation.  Max joined facebook's integrity team working on claim verification as a research scientist.</li>
</ul>
</div>

<h2>Projects</h2>
<div class="container">

  {% for post in site.categories.projects limit:10 %}

  {% assign loopindex = forloop.index | modulo: 2 %}
  {% if loopindex == 1 %}
    <div class="row">
  {% endif %}

  {% include project.shtml %}

  {% if loopindex == 0 %}
    </div>
  {% endif %}

  {% endfor %}  
</div>
<br>
<a href="{{ site.baseurl }}/projects">See all projects...</a>

<!--
<h2>Service and Recognition</h2>
<hr>

<ul>

<li>Executive Committee, eScience Institute</li>
<li>Steering Committee, Urban@UW</li>
<li>Advisory Board, Analysis in Motion Initiative, PNNL</li>
</ul>
-->

