---
layout: default
section: home
title: "Bill Howe: Academic Homepage"
---

<div class="row">
  <div class="col-sm-3">
    <img src="images/billhowe.png" class="img" width="180px"
    style="margin-top: 30px; margin-bottom: 10px">
  </div>
  <div class="col-sm-9">
    <h1>Bill Howe</h1>
    <p>
      Associate Director and Senior Data Science Fellow, UW eScience Institute<br>
      Affiliate Associate Professor, Computer Science &amp; Engineering<br>
      Program Director and Faculty Chair, UW Data Science Masters Degree<br>
      University of Washington<br>
      <a href="static/billhowe_cv.pdf">vita</a>
      <br>
      Email: billhowe at cs.washington.edu
    </p>
  </div>
</div>


<p>
I am Associate Director and Senior Data Science Fellow at the <a href="http://escience.washington.edu">UW eScience Institute</a> and Affiiate Associate Professor in Computer Science &amp; Engineering.  I am a co-founder of <a href="http://urban.uw.edu/">Urban@UW</a>, and with support from the MacArthur Foundation and Microsoft, I lead UW's participation in the <a href="http://metrolab.heinz.cmu.edu/">MetroLab Network</a>. I created a <a href="https://www.coursera.org/course/datasci">first MOOC on Data Science</a> through Coursera, and I led the creation of the <a href="http://datasciencemasters.uw.edu/">UW Data Science Masters Degree</a>, where I serve as its first Program Director and Faculty Chair. I am a member of the UW Graduate Faculty. 
</p>
<p>
My group's research aims to make the techniques and technologies of data science more accessible, particularly at scale.  Our methods are rooted in database systems, though we sometimes work in machine learning, visualization, HCI, and high-performance computing.  We are an applied, systems-oriented group, frequently sourcing projects through collaborations in the physical, life, and social sciences.  
</p>

<hr>

<div class="container">

  {% for post in site.categories.projects limit:10 %}

  {% assign loopindex = forloop.index | modulo: 2 %}
  {% if loopindex == 1 %}
    <div class="row">
  {% endif %}

  {% include project.shtml %}

  {% if loopindex == 0 %}
    </div>
  {% endif %}

  {% endfor %}  
</div>
<br>
<a href="{{ site.baseurl }}/projects">See all projects...</a>

<!--
<h2>Service and Recognition</h2>
<hr>

<ul>

<li>Executive Committee, eScience Institute</li>
<li>Steering Committee, Urban@UW</li>
<li>Advisory Board, Analysis in Motion Initiative, PNNL</li>
</ul>
-->

