{% include header.shtml %}
<div class="row">
  <div class="col-md-9">
    <h1>{{ page.title }}</h1>
    {{content}}
    <br>
    <br>
    <hr/>
<div id="disqus_thread"></div>
<script>
/**
* RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
* LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
*/
/*
var disqus_config = function () {
this.page.url = PAGE_URL; // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');

s.src = '//billhowe.disqus.com/embed.js';

s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
  </div>
  <div class="col-md-3">
    <h3>{{ page.section }}</h3>
    <ul class="nav nav-pills nav-stacked">
      {% for post in site.categories.projects %}
        <li {% if post.url == page.url %} class="active" {% endif %} >
          <a href="{{site.baseurl}}{{post.url}}">
            {{ post.title }}
            <br>
            <!--<small>{{ post.date | date: "%h %d, %Y" }}</small>-->
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% include footer.shtml %}
